@media (prefers-color-scheme: dark) {
  html {
    filter: invert(90%) hue-rotate(180deg);
  }
  img,
  video,
  svg,
  div[class*="language-"] {
    filter: invert(110%) hue-rotate(180deg);
    opacity: 0.8;
  }
}
